### 1. 머신러닝 모델 준비

In [3]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
iris_data = iris.data
iris_label = iris.target

In [6]:
# DataFrame 자료형 변환

iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [7]:
# 칼럼 label 생성

iris_df['label'] = iris.target
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

**feature**
- 머신러닝 모델에 입력되는 데이터. 변수 이름 x

**label, target**
- 머신러닝 모델이 맞춰야하는 데이터. 변수 이름 y

In [8]:
# train_test_split 활용하여 dataset 분리하기

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(iris_data,      # 입력데이터 x
                                                    iris_label,     # 맞추어야 하는 정답값 y
                                                    test_size=0.2,  # test dataset 크기 조절 (전체의 20% test data)
                                                    random_state=7) # train data, test data 분리하는 랜던성 결정 (random_seed)

print('X_train 개수: ', len(X_train), ', X_test 개수: ', len(X_test))

X_train 개수:  120 , X_test 개수:  30

In [12]:
# dataset 확인

X_train.shape, y_train.shape

X_test.shape, y_test.shape

y_train, y_test # 라벨 무작위!

(array([2, 1, 0, 2, 1, 0, 0, 0, 0, 2, 2, 1, 2, 2, 1, 0, 1, 1, 2, 0, 0, 0,
        2, 0, 2, 1, 1, 1, 0, 0, 0, 1, 2, 1, 1, 0, 2, 0, 0, 2, 2, 0, 2, 0,
        1, 2, 1, 0, 1, 0, 2, 2, 1, 0, 0, 1, 2, 0, 2, 2, 1, 0, 1, 0, 2, 2,
        0, 0, 2, 1, 2, 2, 1, 0, 0, 2, 0, 0, 1, 2, 2, 1, 1, 0, 2, 0, 0, 1,
        1, 2, 0, 1, 1, 2, 2, 1, 2, 0, 1, 1, 0, 0, 0, 1, 1, 0, 2, 2, 1, 2,
        0, 2, 1, 1, 0, 2, 1, 2, 1, 0]),
 array([2, 1, 0, 1, 2, 0, 1, 1, 0, 1, 1, 1, 0, 2, 0, 1, 2, 2, 0, 0, 1, 2,
        1, 2, 2, 2, 1, 1, 2, 2]))

### 2. 머신러닝 모델 학습

#### 의사결정나무(Decision Tree)

- 한 번에 하나씩의 설명 변수를 사용하여 예측 가능한 규칙들의 집합을 생성하는 알고리즘
- 결정경계가 데이터 축에 수직이어서, 특정 데이터에서만 잘 작동한다는 단점
- Random Forest 모형은 같은 데이터에 대해 여러 의사결정나무를 만들고, 그 결과를 종합하여 예측 성능을 높인다.

In [13]:
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier(random_state=32)
print(decision_tree._estimator_type)

classifier

In [14]:
# 메서드 fit: training dataset에 맞게 모델을 fitting

decision_tree.fit(X_train, y_train)

DecisionTreeClassifier(random_state=32)

### 3. 머신러닝 모델 평가

In [17]:
y_pred = decision_tree.predict(X_test) # X-test 데이터로 predict를 실행하면 모델이 예측한 y_predict 얻음
y_pred

array([2, 1, 0, 1, 2, 0, 1, 1, 0, 1, 2, 1, 0, 2, 0, 2, 2, 2, 0, 0, 1, 2,
       1, 1, 2, 2, 1, 1, 2, 2])

In [18]:
y_test

array([2, 1, 0, 1, 2, 0, 1, 1, 0, 1, 1, 1, 0, 2, 0, 1, 2, 2, 0, 0, 1, 2,
       1, 2, 2, 2, 1, 1, 2, 2])

In [19]:
# 정확도 평가 sklearn.metrics

from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.9