### 1. íŒŒì´ì¬ê³¼ ë°ì´í„°ë² ì´ìŠ¤
#### 1-1. Python DB-API
- DB ì—°ê²°
- SQL ë¬¸ì„ ì‹¤í–‰
- DB ì—°ê²° ë‹«ìŒ

#### 1-2. SQLite
íŒŒì´ì¬ê³¼ DBëŠ” sqlite3 ë¥¼ í†µí•´ ì»¤ë®¤ë‹ˆì¼€ì´ì…˜

In [4]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/workplace/aiffel/Fundamentals/sql_to_db/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
print(conn)

<sqlite3.Connection object at 0x7efdf4772ab0>

In [5]:
c = conn.cursor() # Connect() í•¨ìˆ˜ì˜ ì—°ê²°ì„ ì‚¬ìš©í•˜ëŠ” ìƒˆë¡œìš´ Cursor ê°ì²´
print(c)

<sqlite3.Cursor object at 0x7efdf05be650>

#### Cursor: SQL ì§ˆì˜(ì¿¼ë¦¬)ë¥¼ ìˆ˜í–‰í•˜ê³  ê²°ê³¼ë¥¼ ì–»ëŠ”ë° ì‚¬ìš©í•˜ëŠ” ê°ì²´
- INSERTì²˜ëŸ¼ DBì—ë§Œ ì ìš©ë˜ëŠ” ëª…ë ¹ì–´ë¥¼ ì‚¬ìš©í•œë‹¤ë©´ Cursorë¥¼ ì•ˆ ì‚¬ìš©í•  ìˆ˜ ìˆì§€ë§Œ SELECTì™€ ê°™ì´ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¬ ë•ŒëŠ” SQL ì§ˆì˜ ìˆ˜í–‰ ê²°ê³¼ì— ì ‘ê·¼í•˜ê¸° ìœ„í•œ Cursorê°€ ë°˜ë“œì‹œ í•„ìš”í•©ë‹ˆë‹¤. 
- ì´ëŸ¬í•œ ì´ìœ ë¡œ ìŠµê´€ì ìœ¼ë¡œ conn.cursor()ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²ƒì„ ê¶Œí•´ ë“œë¦½ë‹ˆë‹¤.

In [6]:
# execute(): ì§ˆì˜ì˜ ì‹¤í–‰
# stocksì´ë¼ëŠ” ì´ë¦„ì˜ í…Œì´ë¸”ì„ í•˜ë‚˜ ìƒì„±í•©ë‹ˆë‹¤. í˜¹ì‹œ ì´ë¯¸ ìƒì„±ë˜ì—ˆë‹¤ë©´ ìƒëµí•©ë‹ˆë‹¤. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

# stocks í…Œì´ë¸”ì— ë°ì´í„°ë¥¼ í•˜ë‚˜ ì¸ì„œíŠ¸í•©ë‹ˆë‹¤. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# ë°©ê¸ˆ ì¸ì„œíŠ¸í•œ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ ë´…ë‹ˆë‹¤.
c.execute("SELECT * FROM stocks")

# ì¡°íšŒëœ ë‚´ì—­ì„ ì»¤ì„œë¥¼ í†µí•´ ê°€ì ¸ì™€ ì¶œë ¥í•´ ë´…ë‹ˆë‹¤.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

### 2. sqlite DB Browser
- ë°ì´í„°ë² ì´ìŠ¤ì— ì§ì ‘ ì ‘ê·¼

In [7]:
conn.commit()   # commit()ì€ cursorì˜ ë©”ì†Œë“œê°€ ì•„ë‹ˆë¼ connectionì˜ ë©”ì†Œë“œì…ë‹ˆë‹¤. 
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

#### íŠ¸ëœì­ì…˜
- ìª¼ê°œì§ˆ ìˆ˜ ì—†ëŠ” ì—…ë¬´ì²˜ë¦¬ì˜ ë‹¨ìœ„
- ë¡¤ë°±: ë¶€ë¶„ ì‘ì—…ì´ ì‹¤íŒ¨í•˜ë©´ íŠ¸ëœì­ì…˜ ì‹¤í–‰ ì „ìœ¼ë¡œ ë˜ëŒë¦°ë‹¤.
- ì»¤ë°‹: ëª¨ë“  ë¶€ë¶„ ì‘ì—…ì´ ì •ìƒì ìœ¼ë¡œ ì™„ë£Œí•˜ë©´ ì´ ë³€ê²½ì‚¬í•­ì„ í•œêº¼ë²ˆì— DBì— ë°˜ì˜í•œë‹¤.

#### ACID ë°ì´í„°ë² ì´ìŠ¤ íŠ¸ëœì ì…˜ì´ ì•ˆì „í•˜ê²Œ ìˆ˜í–‰ëœë‹¤ëŠ” ê²ƒì„ ë³´ì¥í•˜ê¸° ìœ„í•œ ì„±ì§ˆ
- ì›ìì„±
- ì¼ê´€ì„±
- ê³ ë¦½ì„±
- ì§€ì†ì„±

In [8]:
c.close()      # ë¨¼ì € ì»¤ì„œë¥¼ ë‹«ì€ í›„
conn.close()    # DB ì—°ê²°ì„ ë‹«ì•„ ì¤ë‹ˆë‹¤.
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

#### DDLë¬¸ìœ¼ë¡œ í…Œì´ë¸” ìƒì„±í•˜ê¸°

In [11]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/workplace/aiffel/Fundamentals/sql_to_db/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! ì¬ì‹¤í–‰ ì‹œ í…Œì´ë¸”ì´ ì¡´ì¬í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì•„ë˜ì²˜ëŸ¼ í•´ë‹¹ í…Œì´ë¸”ë“¤ì„ ëª¨ë‘ ì§€ì›Œì¤ë‹ˆë‹¤.
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2")
c.execute("DROP TABLE IF EXISTS ëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëª…")


#----- 1st table : ë„ì„œëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar, ëŒ€ì¶œì¼ varchar, ë°˜ë‚©ì¼ varchar)")
#- ìƒì„±(create)ë¬¸ : í…Œì´ë¸”ëª…, ë³€ìˆ˜ëª…, ë³€ìˆ˜íƒ€ì…ì„ ì§€ì •

data = [('101','ë¬¸ê°•íƒœ','aaa','2020-06-01','2020-06-05'),
             ('101','ë¬¸ê°•íƒœ','ccc','2020-06-20','2020-06-25'),
             ('102','ê³ ë¬¸ì˜','bbb','2020-06-01',None),
             ('102','ê³ ë¬¸ì˜','ddd','2020-06-08',None),
             ('103','ë¬¸ìƒíƒœ','ccc','2020-06-01','2020-06-05'),
             ('104','ê°•ê¸°ë‘¥',None,None,None)]
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ê·¸ëŒ€ë¡œ ì…ë ¥ (ë³€ìˆ˜ëª… ìˆœì„œ ê¸°ì¤€ëŒ€ë¡œ)

c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­ VALUES (?,?,?,?,?)', data)
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ì‹¤ì œ í…Œì´ë¸”ì— insertí•˜ê¸°
#-----------------------------------------------#


#----- 2nd table : ë„ì„œëŒ€ì¶œë‚´ì—­2 -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2 (ID varchar, ì´ë¦„ varchar, ëŒ€ì¶œë…„ì›” varchar, ëŒ€ì¶œì¼ìˆ˜ varchar)")

data = [('101','ë¬¸ê°•íƒœ','2020-06','20ì¼'),
             ('102','ê³ ë¬¸ì˜','2020-06','10ì¼'),
             ('103','ë¬¸ìƒíƒœ','2020-06','8ì¼'),
             ('104','ê°•ê¸°ë‘¥','2020-06','3ì¼')]
c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : ëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar)")

data = [('101','ë¬¸ê°•íƒœ','aaa'),
             ('102','ê³ ë¬¸ì˜','bbb'),
             ('102','ê³ ë¬¸ì˜','fff'),
             ('103','ë¬¸ìƒíƒœ','ccc'),
             ('104','ê°•ê¸°ë‘¥',None)]
c.executemany('INSERT INTO ëŒ€ì¶œë‚´ì—­ VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : ë„ì„œëª… -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëª… (ë„ì„œID varchar, ë„ì„œëª… varchar)")

data = [('aaa','ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„'),
             ('bbb','ì¢€ë¹„ì•„ì´'),
             ('ccc','ê³µë£¡ë°±ê³¼ì‚¬ì „'),
             ('ddd','ë¹¨ê°„êµ¬ë‘'),
             ('eee','ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')]

c.executemany('INSERT INTO ë„ì„œëª… VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [12]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëª…'):
  print(row)

('aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('bbb', 'ì¢€ë¹„ì•„ì´')
('ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')
('ddd', 'ë¹¨ê°„êµ¬ë‘')
('eee', 'ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')

In [14]:
#- ì°¸ê³  : ì‹¤ì œ ì¡°íšŒë¥¼ í•´ë³´ì‹œë ¤ë©´ ì•„ë˜ì²˜ëŸ¼ ì“°ì‹œë©´ ë©ë‹ˆë‹¤.
#- c.execute() ê´„í˜¸ ì•ˆì— SQLë¬¸ì„ ë„£ìœ¼ì‹œë©´ ë©ë‹ˆë‹¤.

import os
db_path = os.getenv('HOME')+'/workplace/aiffel/Fundamentals/sql_to_db/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­'):
  print(row)

#- ! ì¶œë ¥ ì‹œ 'NULL' ëŒ€ì‹  'None'ìœ¼ë¡œ ì¶œë ¥ë  ìˆ˜ ìˆìœ¼ë‚˜ ë™ì¼í•˜ê²Œ ì´í•´í•˜ì‹œë©´ ë©ë‹ˆë‹¤.

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')
('104', 'ê°•ê¸°ë‘¥', None, None, None)

### 3. SQL ê¸°ë³¸

In [ ]:
import os
db_path = os.getenv('HOME')+'/workplace/aiffel/Fundamentals/sql_to_db/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('pragma table_info(ë„ì„œëŒ€ì¶œë‚´ì—­)'):
  print(row)

**ì¤‘ì²© ì§ˆì˜(Nested Query)**

In [ ]:
SELECT C.ì´ë¦„, COUNT(*) ëŒ€ì¶œê±´ìˆ˜
FROM (
    SELECT A.*, B.ë„ì„œëª… 
    FROM ëŒ€ì¶œë‚´ì—­ AS A 
    LEFT JOIN ë„ì„œëª… AS B
    ON A.ë„ì„œID = B.ë„ì„œID ) C
GROUP BY C.ì´ë¦„

**ì¿¼ë¦¬ì˜ ì¡°ê±´ì ˆ IFNULL**

In [ ]:
SELECT A.*, IFNULL(B.ë„ì„œëª…, 'ë„ì„œëª…ë¯¸ìƒ') AS ë„ì„œëª…
    FROM ëŒ€ì¶œë‚´ì—­ AS A 
    LEFT JOIN ë„ì„œëª… AS B
    ON A.ë„ì„œID = B.ë„ì„œID

**ì¿¼ë¦¬ì˜ ì¡°ê±´ì ˆ CASE**

In [ ]:
SELECT ì´ë¦„, CASE WHEN ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 THEN 'ê¸°ê°„ì´ˆê³¼' ELSE 'ê¸°ê°„ë‚´' END AS ëŒ€ì¶œê¸°ê°„
FROM (
SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • 
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 )

#### Quiz
'ë„ì„œëª…' í…Œì´ë¸”ê³¼ 'ë„ì„œëŒ€ì¶œë‚´ì—­' í…Œì´ë¸”ì„ ë„ì„œIDë¥¼ keyë¡œ í•˜ì—¬ LEFT  JOINí•´ì„œ |ë„ì„œID|ë„ì„œëª…|ëŒ€ì¶œê±´ìˆ˜|ëŒ€ì¶œìƒíƒœ| í•­ëª©ì„ ì¶œë ¥í•˜ëŠ” ì¿¼ë¦¬ë¥¼ ì‘ì„±í•´ ë³´ì„¸ìš”. 



ëŒ€ì¶œê±´ìˆ˜ : ë„ì„œë³„ë¡œ ë„ì„œëŒ€ì¶œë‚´ì—­ í…Œì´ë¸”ì— ëŒ€ì¶œì¼ìê°€ ìˆìœ¼ë©´ ëŒ€ì¶œê±´ìˆ˜ 1ë¡œ ë³¸ë‹¤. ì—¬ëŸ¬ ë²ˆ ëŒ€ì¶œë˜ì—ˆìœ¼ë©´ ëŒ€ì¶œëœ íšŒìˆ˜ë§Œí¼ í•©ì‚°ëœë‹¤. 

ëŒ€ì¶œìƒíƒœ : ëŒ€ì¶œì¼ìëŠ” NOT NULLì¸ë° ë°˜ë‚©ì¼ìê°€ NULLì¸ ë„ì„œëŒ€ì¶œë‚´ì—­ì´ ìˆìœ¼ë©´ 'ëŒ€ì¶œì¤‘', ê·¸ë ‡ì§€ ì•Šê³  ëª¨ë“  ëŒ€ì¶œë‚´ì—­ì— ë°˜ë‚©ì¼ìê°€ ëª…ì‹œë˜ì–´ ìˆìœ¼ë©´  'ë³´ê´€ì¤‘'ìœ¼ë¡œ ë³¸ë‹¤.

In [ ]:
SELECT C.ë„ì„œID, C.ë„ì„œëª…, SUM(C.ëŒ€ì¶œê±´ìˆ˜) AS ëŒ€ì¶œê±´ìˆ˜, 
CASE SUM(C.ëŒ€ì¶œê±´ìˆ˜)-SUM(C.ë°˜ë‚©ê±´ìˆ˜) WHEN 0
THEN 'ë³´ê´€'
ëŒ€ì¶œìƒíƒœ, CASE WHEN B.ë°˜ë‚©ì¼ì IS NULL THEN 'ëŒ€ì¶œì¤‘' ELSE 'ë³´ê´€ì¤‘
FROM ë„ì„œëª… AS A
LEFT JOIN ë„ì„œëŒ€ì¶œë‚´ì—­ AS B
ON A.ë„ì„œID = B.ë„ì„œID