### 1. 파이썬과 데이터베이스
#### 1-1. Python DB-API
- DB 연결
- SQL 문을 실행
- DB 연결 닫음

#### 1-2. SQLite
파이썬과 DB는 sqlite3 를 통해 커뮤니케이션

In [4]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/workplace/aiffel/Fundamentals/sql_to_db/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
print(conn)

<sqlite3.Connection object at 0x7efdf4772ab0>

In [5]:
c = conn.cursor() # Connect() 함수의 연결을 사용하는 새로운 Cursor 객체
print(c)

<sqlite3.Cursor object at 0x7efdf05be650>

#### Cursor: SQL 질의(쿼리)를 수행하고 결과를 얻는데 사용하는 객체
- INSERT처럼 DB에만 적용되는 명령어를 사용한다면 Cursor를 안 사용할 수 있지만 SELECT와 같이 데이터를 불러올 때는 SQL 질의 수행 결과에 접근하기 위한 Cursor가 반드시 필요합니다. 
- 이러한 이유로 습관적으로 conn.cursor()를 사용하는 것을 권해 드립니다.

In [6]:
# execute(): 질의의 실행
# stocks이라는 이름의 테이블을 하나 생성합니다. 혹시 이미 생성되었다면 생략합니다. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

# stocks 테이블에 데이터를 하나 인서트합니다. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# 방금 인서트한 데이터를 조회해 봅니다.
c.execute("SELECT * FROM stocks")

# 조회된 내역을 커서를 통해 가져와 출력해 봅니다.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

### 2. sqlite DB Browser
- 데이터베이스에 직접 접근

In [7]:
conn.commit()   # commit()은 cursor의 메소드가 아니라 connection의 메소드입니다. 
print("뿅💛")

뿅💛

#### 트랜잭션
- 쪼개질 수 없는 업무처리의 단위
- 롤백: 부분 작업이 실패하면 트랜잭션 실행 전으로 되돌린다.
- 커밋: 모든 부분 작업이 정상적으로 완료하면 이 변경사항을 한꺼번에 DB에 반영한다.

#### ACID 데이터베이스 트랜젝션이 안전하게 수행된다는 것을 보장하기 위한 성질
- 원자성
- 일관성
- 고립성
- 지속성

In [8]:
c.close()      # 먼저 커서를 닫은 후
conn.close()    # DB 연결을 닫아 줍니다.
print("뿅💛")

뿅💛

#### DDL문으로 테이블 생성하기

In [11]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/workplace/aiffel/Fundamentals/sql_to_db/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! 재실행 시 테이블이 존재할 수 있으므로 아래처럼 해당 테이블들을 모두 지워줍니다.
c.execute("DROP TABLE IF EXISTS 도서대출내역")
c.execute("DROP TABLE IF EXISTS 도서대출내역2")
c.execute("DROP TABLE IF EXISTS 대출내역")
c.execute("DROP TABLE IF EXISTS 도서명")


#----- 1st table : 도서대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역 (ID varchar, 이름 varchar, 도서ID varchar, 대출일 varchar, 반납일 varchar)")
#- 생성(create)문 : 테이블명, 변수명, 변수타입을 지정

data = [('101','문강태','aaa','2020-06-01','2020-06-05'),
             ('101','문강태','ccc','2020-06-20','2020-06-25'),
             ('102','고문영','bbb','2020-06-01',None),
             ('102','고문영','ddd','2020-06-08',None),
             ('103','문상태','ccc','2020-06-01','2020-06-05'),
             ('104','강기둥',None,None,None)]
#- 입력할 데이터를 그대로 입력 (변수명 순서 기준대로)

c.executemany('INSERT INTO 도서대출내역 VALUES (?,?,?,?,?)', data)
#- 입력할 데이터를 실제 테이블에 insert하기
#-----------------------------------------------#


#----- 2nd table : 도서대출내역2 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역2 (ID varchar, 이름 varchar, 대출년월 varchar, 대출일수 varchar)")

data = [('101','문강태','2020-06','20일'),
             ('102','고문영','2020-06','10일'),
             ('103','문상태','2020-06','8일'),
             ('104','강기둥','2020-06','3일')]
c.executemany('INSERT INTO 도서대출내역2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : 대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 대출내역 (ID varchar, 이름 varchar, 도서ID varchar)")

data = [('101','문강태','aaa'),
             ('102','고문영','bbb'),
             ('102','고문영','fff'),
             ('103','문상태','ccc'),
             ('104','강기둥',None)]
c.executemany('INSERT INTO 대출내역 VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : 도서명 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서명 (도서ID varchar, 도서명 varchar)")

data = [('aaa','악몽을 먹고 자란 소년'),
             ('bbb','좀비아이'),
             ('ccc','공룡백과사전'),
             ('ddd','빨간구두'),
             ('eee','잠자는 숲속의 미녀')]

c.executemany('INSERT INTO 도서명 VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()
print("뿅💛")

뿅💛

In [12]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서명'):
  print(row)

('aaa', '악몽을 먹고 자란 소년')
('bbb', '좀비아이')
('ccc', '공룡백과사전')
('ddd', '빨간구두')
('eee', '잠자는 숲속의 미녀')

In [14]:
#- 참고 : 실제 조회를 해보시려면 아래처럼 쓰시면 됩니다.
#- c.execute() 괄호 안에 SQL문을 넣으시면 됩니다.

import os
db_path = os.getenv('HOME')+'/workplace/aiffel/Fundamentals/sql_to_db/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서대출내역'):
  print(row)

#- ! 출력 시 'NULL' 대신 'None'으로 출력될 수 있으나 동일하게 이해하시면 됩니다.

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)

### 3. SQL 기본

In [ ]:
import os
db_path = os.getenv('HOME')+'/workplace/aiffel/Fundamentals/sql_to_db/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
c = conn.cursor()

for row in c.execute('pragma table_info(도서대출내역)'):
  print(row)

**중첩 질의(Nested Query)**

In [ ]:
SELECT C.이름, COUNT(*) 대출건수
FROM (
    SELECT A.*, B.도서명 
    FROM 대출내역 AS A 
    LEFT JOIN 도서명 AS B
    ON A.도서ID = B.도서ID ) C
GROUP BY C.이름

**쿼리의 조건절 IFNULL**

In [ ]:
SELECT A.*, IFNULL(B.도서명, '도서명미상') AS 도서명
    FROM 대출내역 AS A 
    LEFT JOIN 도서명 AS B
    ON A.도서ID = B.도서ID

**쿼리의 조건절 CASE**

In [ ]:
SELECT 이름, CASE WHEN 대출일수_수정 > 5 THEN '기간초과' ELSE '기간내' END AS 대출기간
FROM (
SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 
FROM 도서대출내역2 )

#### Quiz
'도서명' 테이블과 '도서대출내역' 테이블을 도서ID를 key로 하여 LEFT  JOIN해서 |도서ID|도서명|대출건수|대출상태| 항목을 출력하는 쿼리를 작성해 보세요. 



대출건수 : 도서별로 도서대출내역 테이블에 대출일자가 있으면 대출건수 1로 본다. 여러 번 대출되었으면 대출된 회수만큼 합산된다. 

대출상태 : 대출일자는 NOT NULL인데 반납일자가 NULL인 도서대출내역이 있으면 '대출중', 그렇지 않고 모든 대출내역에 반납일자가 명시되어 있으면  '보관중'으로 본다.

In [ ]:
SELECT C.도서ID, C.도서명, SUM(C.대출건수) AS 대출건수, 
CASE SUM(C.대출건수)-SUM(C.반납건수) WHEN 0
THEN '보관'
대출상태, CASE WHEN B.반납일자 IS NULL THEN '대출중' ELSE '보관중
FROM 도서명 AS A
LEFT JOIN 도서대출내역 AS B
ON A.도서ID = B.도서ID